<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questionnaire</title>
</head>
<body>
    <h1>Questionnaire</h1>
    <form method="POST" action="/">
        {{ form.hidden_tag() }}
        <p>
            {{ form.short_term_goal.label }}<br>
            {{ form.short_term_goal(size=32) }}<br>
            {% for error in form.short_term_goal.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.long_term_goal.label }}<br>
            {{ form.long_term_goal(size=32) }}<br>
            {% for error in form.long_term_goal.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.multiple_choice.label }}<br>
            {% for subfield in form.multiple_choice %}
                {{ subfield }} {{ subfield.label }}<br>
            {% endfor %}
            {% for error in form.multiple_choice.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</body>
</html>
